<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/base.css">
    <title>Home Page</title>
</head>
<body>
    <h1>Welcome to our site!</h1>
    <main>
        <ul>
            <%books.forEach(element=>{%>
                <li><%=element.author%></li>
                <li><%=element.title%></li>
                <li><%=element.image_url%></li>
                <li><%=element.description%></li>
            <%})%>
            <li>Number of book in database : <%=books.length%></li>
        </ul>
    </main>
</body>
</html>